{% extends '../base.html' %}

{% load crispy_forms_filters %}

{% block title %}
    {% if add %}
        Add Post
    {% else %}
        Edit Post
    {% endif %}
{% endblock %}

{% block content %}
    {% if add %}
        <h1>Welcome to Linked Space Add Post</h1>
    {% else %}
        <h1>Welcome to Linked Space Edit Post</h1>
    {% endif %}
    {% if user.is_authenticated %}
         <form action='' method= 'POST' enctype="multipart/form-data">
            {% csrf_token %}
            <label for="Title">Title:</label><br>
            <input id="title" type="text" name="title" value="{{ post.title }}" class="form-control"> <br>

            <label for="Description">Description:</label><br>
            <input id="description" type="text" name="description" value="{{ post.description }}" class="form-control"><br>

            <label for="Categories">Categories:</label><br>
            {{ form.categories }}<br>

            <label for="Visibility">Visibility:</label><br>
            {{ form.visibility }}<br>

            <label for="Unlisted">Unlisted:</label>
            <input id="unlisted" type="checkbox" name="unlisted" value="{{ post.unlisted }}"><br>

            <label for="ContentType">Content Type:</label><br>
            {{ form.contentType }}<br>

            <label for="Text">Text:</label><br>
            <input id="text" type="text" name="text" class="form-control" value="{{ post.content }}"><br>

            <label for="file">File:</label><br>
            <input type="file" name="file" id="file"><br/><br/>

            <input type="submit" value="OK" class="btn btn-primary">
        </form>
    {% else %}
        <h3><a href={% url 'login' %} >Login</a></h3>
    {% endif %}
{% endblock %}
