{% extends '../base.html' %}

{% block title %}
    Posts
{% endblock %}

{% block content %}
    <h1>Welcome to posts stream {{ user.displayName }}</h1>

    {% for post in posts %}
        <div class = "post card">
            <h2 class = "postTitle">{{ post.title }}</h3>
            <hr/>
            <p class = "postDesc">{{ post.description }}</p>
            <div class = "postContent">
                {% if post.isImage %}
                    <img src="data:{{ post.contentType }};base64, {{ post.image }}"/>
                {% elif post.contentType == "text/markdown"%}
                    {% load markdownify %}
                    <p>{{ post.content |markdownify }}</p>
                {% else %}
                    <p> {{post.content}}</p>
                {% endif %}
            </div>
            <div class = "postComments">
                Comments: <a href={{ post.comments }}>{{ post.comments }}</a> 
            </div>
        </div>
        
    {% endfor %}
{% endblock %}