{% extends '../base.html' %}

{% block title %}
    Author
{% endblock %}

{% block content %}

    <div class = "post card">
        <h2 class = "postTitle">{{ post.title }}</h3>
        <hr/>
        <p class = "postDesc">{{ post.description }}</p>
        <div class = "postContent">
            {% if post.isImage %}
                <img src="data:{{ post.contentType }};base64, {{ post.image }}"/>
            {% elif post.contentType == "text/markdown"%}
                {% load markdownify %}
                <p>{{ post.content |markdownify }}</p>
            {% else %}
                <p> {{post.content}}</p>
            {% endif %}
            
            <!-- Like Button -->
            <!-- TODO: Better CSS for Like Button -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            
            <form action='newLike/' method= 'POST' enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" id="context" name="context" value="post-detail">
                <input type="hidden" id="postID" name="postID" value={{post.id}}>
                {% if post.userLike %}
                    <input type = "submit" value = "{{ post.numLikes }} 👍" style="color: white; background-color:blue" class = "postLikeButton-active" >
                {% else %}
                    <input type = "submit" value = "{{ post.numLikes }} 👍"  class = "postLikeButton-deactive">
                {% endif %}
            </form>
            
            
        </div>
        <div class = "postComments">
            Comments: <a href={{ post.comments }}>{{ post.comments }}</a> 
        </div>
    </div>
{% endblock %}
