{% extends '../base.html' %}

{% block title %}
    Inbox
{% endblock %}

{% block content %}
    <form action= 'clearInbox/' method='POST' enctype="multipart/form-data">
        {% csrf_token %}
        <input class="btn btn-danger float-right" type="submit" value="Clear Inbox">
    </form>
    <h1>Welcome to your inbox {{ user.displayName }} </h1>
    <br >
    <!-- TODO: BETTER CSS -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="mt-3">
                <button type="button" class="btn btn-secondary btn-sm font-size:small" disabled><span style="font-size:smaller;">Follower Notifications</span></button>
                <hr >
                {% for follow in follows %}
                    <div class="card mb-2" style="width: 40rem" class="mt-3">
                        <div class="card-body">
                            <span style="display: inline;">
                                <form action='acceptFollow/' method= 'POST' enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="hidden" id="actorID" name="actorID" value={{follow.actor.id}}>
                                    <input type="hidden" id="objectID" name="objectID" value={{follow.object.id}}>
                                    <input class="btn btn-primary btn-sm float-right" type="submit" value="Accept">
                                </form>
                                <h3 class = "postTitle" style="display: inline;">{{ follow.summary }}</h3>
                            </span>
                        </div>
                    </div>  
                {% endfor %}
                <br >
                <button type="button" class="btn btn-secondary btn-sm font-size:small" disabled><span style="font-size:smaller;">Likes</span></button>
                <hr >
                {% for like in likes %}
                    <div class="card mb-2" style="width: 40rem" class="mt-3">
                        <div class="card-body">
                            <a href="{{ like.object }}" class="btn btn-primary btn-sm float-right" type="submit" value="Go to Post">Go to Post</a>
                            <h3 class = "postTitle" style="display: inline;">{{ like.summary }}</h3>
                        </div>
                    </div>
                {% endfor %}
                <br >
                <button type="button" class="btn btn-secondary btn-sm font-size:small" disabled><span style="font-size:smaller;">Post Notifications</span></button>
                <hr >
                {% for post in posts %}
                    <div class="card" style="width: 40rem;">
                        <div class="card-header text-black" style="background-color: #3372964f;">
                            <h4 class="card-title"><a href="{{ post.id }}" style="color: black;">{{ post.title }}</a><span style="font-size:medium"> by <a href="{{post.author.url}}">{{ post.author.displayName }}</a></span></h4>
                        </div>
                            <div class="card-body">
                                <p class="card-text small">Description: {{ post.description }}
                                    <span class="card-text">
                                        <button type="button" class="btn btn-warning btn-sm float-right font-size: small" disabled><span style="font-size:smaller;">{{ post.categories }}</span></button>
                                        <button type="button" class="btn btn-outline-secondary btn-sm float-right mr-2" disabled><span style="font-size:smaller;">{{ post.visibility }}</span></button>
                                    </span>
                                </p>
                                {% if post.isImage %}
                                    <div class="col-md-6 col-xs-6">
                                        <img src="data:{{ post.contentType }};base64, {{ post.image }}" class="img-fluid justify-content-center"/>
                                    </div>
                                {% elif post.contentType == "text/markdown"%}
                                    {% load markdownify %}
                                        <p>{{ post.content |markdownify }}</p>
                                {% else %}
                                    <p> {{post.content}}</p>
                                {% endif %}
                            </div>
                            <div class="card-footer">
                                <!-- Like Button -->
                                <!-- TODO: Better CSS for Like Button -->
                                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                                
                                <span>
                                    <form action='newLike/' method= 'POST' enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input type="hidden" id="context" name="context" value="stream">
                                        <input type="hidden" id="postID" name="postID" value={{post.id}}>
                                        {% if post.userLike %}
                                            <input type = "submit" value = "{{ post.numLikes }} 👍" style="color: white; background-color:blue" class = "postLikeButton-active float-left" >
                                        {% else %}
                                            <input type = "submit" value = "{{ post.numLikes }} 👍"  class = "postLikeButton-deactive float-left">
                                        {% endif %}
                                    </form>
                                    <p class="card-text small float-left ml-3"><a href="{{ post.comments }}">View comments</a></p>
                                    <p class="text-muted small float-right">Published: {{ post.published }}</p>
                                </span>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <!-- Comments to inbox?????????
                <div class = "postComments">
                    Comments: <a href={{ post.comments }}>{{ post.comments }}</a> 
                </div> -->

            </div>
        </div> 
    </div>
    <br >

{% endblock %}