appdirs==1.4.4
asgiref==3.4.1
astroid==2.2.5
certifi==2018.10.15
cffi==1.13.2
chardet==3.0.4
cryptography==2.8
distlib==0.3.1
Django==3.2.7
django-crispy-forms==1.7.2
django-multiselectfield==0.1.10
django-rest-knox==4.1.0
djangorestframework==3.10.3
filelock==3.0.12
gunicorn==19.9.0
idna==2.7
importlib-metadata==3.7.2
importlib-resources==5.1.2
isort==4.3.21
lazy-object-proxy==0.0.0
mccabe==0.6.1
mock==3.0.5
Pillow==5.2.0
postgres==2.2.2
psycopg2-binary==2.8.3
pycparser==2.19
pylint==2.3.1
pytz==2021.1
requests==2.19.1
selenium==3.141.0
six==1.13.0
sqlparse==0.4.2
typed-ast==1.4.0
typing-extensions==3.7.4.3
urllib3==1.23
virtualenv==20.4.2
whitenoise==4.1.4
wrapt==1.11.2
zipp==3.4.1
