{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}
            {% endblock %}
        </title>
    </head>

    <body>
        <div class="navbar">
            <a href={% url 'home' %}>Home</a>
            <a href={% url 'authorsView' %}>Authors</a>
            <a href={% url 'authorHome' %}>Author</a> 
            <a href={% url 'postsHome' %}>Posts</a>
            <a href={% url 'login' %}>Login</a>
        </div>

        <center>
            <div>
                {% block content %}
                {% endblock %}
            </div>
        </center>
    </body>
</html>
