{% extends './base.html' %}

{% load crispy_forms_filters %}

{% block content %}

    <div class="row justify-content-center">
        <div class="col-6">
            {% for message in messages %}
                {% if 'inactive' in message.extra_tags %}
                    <div class="alert alert-warning">
                {% elif 'invalid' in message.extra_tags %}
                    <div class="alert alert-danger">
                {% endif %}
                <a class="close" href="#" data-dismiss="alert">×</a>
                   {{ message }}
            </div>
            {% endfor %}
            <div class="card">
                <div class="card-body">
                    <h2>Welcome back!</h2>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" name="email" class="form-control">
                        </div>
                        <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" name="password" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}